.auto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #940b0b;
}

.detail-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #282c34;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.detail-link:hover {
    background-color: #444;
}
