* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("Images/Mecanicos-certificados-en-nuestras-marcas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contenedor principal */
.auto-search-container {
    display: flex;
    flex-direction: column; /* Para alinear los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: calc(100vh ); /* Ajuste para compensar la barra de navegación */
    padding: 20px;
    margin-top: 60px; /* Compensar la altura de la barra de navegación */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    width: 100%; /* Hace que el contenedor use el ancho completo posible */

}

/* Contenedor de búsqueda */
.search-add-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna (uno debajo del otro) */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Espacio entre los elementos */
    max-width: 600px; /* Ajusta el ancho máximo para que el contenedor no sea demasiado ancho */
    width: 100%; /* Hace que el contenedor use el ancho completo posible */
    margin-bottom: 20px; /* Espacio debajo del contenedor de búsqueda */
}

.buttons-add-search-container{
    flex-direction: row;
    gap: 30px;
}
.auto-search-input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    max-width: 400px;
}

.add-auto-button, .scan-qr-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-auto-button {
    background-color: #d30000;
    color: white;
}

.add-auto-button:hover {
    background-color: #b30000;
}

.scan-qr-button {
    background-color: #5c5c5c;
    color: white;
}

.scan-qr-button:hover {
    background-color: #414141;
}

